.team {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: .6rem;
  padding: 20px;
  height: 75vh;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-a {
  height: 100%;
}

.image-b {
  width: 180px;
  position: relative;
  bottom: 200px;
}

#siteTitle {
    color: chartreuse;
}